@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Archivo', sans-serif;
}

:root {
    --bg: rgb(0, 1, 26);
    --txt-clr: rgb(233, 246, 253);
    --accent-clr: rgb(84, 145, 179);
    --button-border-width: 4px;
    --text-clr-fadeout: rgb(156, 164, 168);
}

em {
    display: block;
}

body {
    background: var(--bg);
    color: var(--txt-clr);
    width: 100svw;
}

.logo {
    font-weight: 700;
    font-size: 2rem;

    position: relative;
    
    &::after {
        content: '';
        display: block;
        height: var(--button-border-width);
        background-color: var(--accent-clr);
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
      }
}

button {
    background: var(--bg);
    color: var(--txt-clr);
    box-sizing: border-box;
    box-shadow: none;
    padding-left: 0.5rem;
    border-bottom: var(--button-border-width) solid transparent;
    border-right: var(--button-border-width) solid transparent;
    border-bottom-left-radius: 10%;
    border-top: none;
    border-left: none;
    font-size: 1.5rem;

    &:hover {
        box-shadow: 0px 1px 0px var(--accent-clr);
    }
}

header {
    display: flex;
    flex: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    margin: 0 auto;
    position: relative;
    width: 100%;
  
    nav > * {
      margin: 10px 10px;
    }
  
    &::after {
      content: '';
      display: block;
      height: 1px;
      background-color: var(--txt-clr);
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 10%;
    }
  }

  .content {
    padding: 20px 40px;
    text-align: center;
    display: flex;
    gap: 20px;
    justify-content: center;
  }

  /* Home */

  .restaurant-info-container {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  /* Contact */
  .contact-content-container {
    padding-top: 4rem;
    display: grid;
    gap: 4rem;
    grid-template-columns: 1fr 1fr;
  }

  .contact-container, .opening-hours-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .contact-group, .opening-day-group {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .contact-group > *, .opening-day-group > * {
    width: 100%;
    &:first-child {
        width: 100%;
        text-align: left;
    }
    &:nth-child(2) {
        display: block;
        text-align: right;
        justify-self: flex-end;
        font-style: italic;
    }
  }

  @media (max-width: 500px) {
    .contact-content-container {
        grid-template-columns: 1fr;
    }
  }

  /* Menu */
.menu-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.menu-group {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    border: 1px solid var(--txt-clr);
    position: relative;
    padding: 2rem;
    width: 100%;
    justify-content: center;
}

.menu-group-header {
    position: absolute;
    top: -1rem;
    padding: 0px 0.5rem;
    background: var(--bg);
}

.menu-item {
    border: 1px solid var(--txt-clr);
    padding: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:    "a b"
                            "c d";
    width: 300px;
}

.menu-item-name {
    grid-area: a;
}

.menu-item-description {
    grid-area: b;
}

.menu-item-price {
    grid-area: c;
    font-size: 1.5rem;
    &::after {
        content: ' $';
    }
}

.menu-item-allergens {
    grid-area: d;
    color: var(--text-clr-fadeout);
}